/exampleProjects/my.dummy.project1/.settings/*.prefs
*.prefs
/.vscode/.ropeproject
/.vscode
/OSGiDepend/__pycache__/*.pyc
*.pyc
/build/lib/sat
/exampleprojects/my.dummy.project4/bin
/exampleprojects/my.dummy.project4/src/my/dummy/project4/util
