fail_fast: true 
repos:
- repo: https://github.com/ambv/black
  rev: stable
  hooks:
  - id: black
- repo: https://github.com/pre-commit/mirrors-pylint
  rev: v2.3.1  
  hooks:
  - id: pylint 
    args: [--rcfile=conf/.pylintrc]